 <h1>Post into our Disccusion Forum!</h1>
    <br>

    <form name="PostForum" id="PostForums" method="POST" />

    <div class="form-group" id="PostDescipt">
      <label for="login-username">Description of the item: </label>
      <input type="text" class="form-control" id="login-password" aria-describedby="emailHelp"
        placeholder="Description">
    </div>
    <br>

    <div class="dropdown">
      <label for="category">What category of discussion is this?   </label>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="category" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Prequels</a>
        <a class="dropdown-item" href="#">Obi-Wan</a>
        <a class="dropdown-item" href="#">Dark side</a>
      </div>
    </div>
    <br>
    <button class="btn btn-secondary " type="button" id="searchSubmit" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Submit
    </button>
    </form>
    <br>
    <br>



     {{!-- Our own customized script  --}}
<script src=""></script>