<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h5 class="float-md-start mb-0">MAY THE FORCE WITH YOU</h5>
      <nav class="nav nav-masthead justify-content-center float-md-end mainNavHolder">
        <!-- <a class="nav-link fw-bold py-1 px-0 active navButtons" aria-current="page" href="#">Login</a> -->
        <a class="nav-link fw-bold py-1 px-0 navButtons" href="#">Sign Up</a>
        <a class="nav-link fw-bold py-1 px-0 navButtons" href="#">Forum</a>
        <a class="nav-link fw-bold py-1 px-0 navButtons" href="#">Post item</a>
        <a class="nav-link fw-bold py-1 px-0 navButtons" href="#">Search item</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>WOOKIES GOLD</h1>
    <br>
    <h3>We would be honored if you'd joined us - Darth Vadar</h3>
    <br>
    <p class="lead">Collectors webpage for serious people</p>
<p class="lead">You can enter your products into our databases<br> 
</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
    </p>
    <!-- <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a>
      </p> -->
  </main>

  <footer class="mt-auto text-white-50">
    <p class="text-white">By Yours Truley, Paulo Sergio Condori Pinedo</p>
  </footer>
</div>


    <script src="/Project2/public/js/script.js"></script>
  </body>