   <div class="now">{{timeandDateNow now}}</div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>WOOKIES GOLD</h1>
    <br>
    <h3>We would be honored if you could join us - Darth Vadar</h3>
    <br>
    <p class="lead">Collectors webpage for serious people</p>
    <p class="lead">You can enter your products into our databases<br>
    </p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: #0c58ca">Login</a>
    </p>
  </main>

</div>



<script src="/js/main.js"></script>