<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <h5>Login</h5>
  
  <div>
    <p>Email <input type="text" name="email" class="login-form-field"></p>
  </div>
  <div>
    <p>Password <input type="text" name="password" class="login-form-field"></p>
  </div>
  <div>
    <a href="#">Forgot password?</a>
    <button>Login</button>
  </div>
</div>