<div class="card align-center p-4 text-center">
    <label for="emailInput" class="text-dark">Enter your email: </label>
    <input id="emailInput" class="">
    <button id="submitButton" class="btn btn-danger mt-2 w-50 mx-auto">Reset password</button>
</div>

<script src="/js/recovery.js"></script>