<form id="register-form">
    <h3>Fill out registration criteria below</h3>
    <div>
        <label for="register-username">Username: </label>
        <input type="text" id="register-username" name="register-username">
    </div>
    <div>
        <label for="register-email">Email: </label>
        <input type="email" name="register-email" id="register-email">
    </div>
    <div>
        <label for="register-password">Password: </label>
        <input type="password" id="register-password" name="register-password">
    </div>
    <button id="register-btn">Submit</button>
</form>


<script src="./js/register.js"></script>