   <h1>Search</h1>
   <br>
   <br>

    <form name="searchForm" id="searchForm" method="POST" />
    <div class="dropdown">
      <h3>Which category:</h3>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Cat1</a>
        <a class="dropdown-item" href="#">Cat2</a>
        <a class="dropdown-item" href="#">Cat3</a>
      </div>
    </div>
{{!-- Copy and paste lines 3-14 to make other buttons for more search
requirements --}}

    </form>
    <br>
    <br>


{{!-- Our customized script --}}
<script src=""></script>
