<h1>Create Post</h1>

<form name="WritePostForm" id="postForm">
    <div class="form-group">
        <label for="titleInput">Title</label>
        <input class="form-control" id="titleInput">
    </div>
    <div class="form-group">
        <label for="contentInput">Description</label>
        <textarea class="w-100 rounded" id="contentInput"></textarea>
   {{!-- // <form name="PostForm" id="PostForm" method="POST" />

    // <div class="form-group" id="PostTitle">
     // <label for="TitlH">Title of the item: </label>
     // <input type="text" class="form-control" id="TitleH" aria-describedby="title"
       // placeholder="Title....">
   // </div>
   // <br>

   // <div class="form-group" id="PostDescipt">
   //   <label for="DescriptionValu">Description of the item: </label>
   //   <input type="text" class="form-control" id="DescriptionValue" aria-describedby="emailHelp"
    //    placeholder="Description....">
 //   </div>
  //  <br>

  //  <div class="form-group" id="PostURL">
  //    <label for="URLValue">Description of the item: </label>
    //  <input type="text" class="form-control" id="URLValue" aria-describedby="emailHelp"
      //  placeholder="Description...."> --}}
    </div>
    <div class="dropdown">

        <label for="dropdownMenuButton">Select the category your post belongs to: </label>
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categories
        </button>
        <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Cat1</a>
          <a class="dropdown-item" href="#">Cat2</a>
          <a class="dropdown-item" href="#">Cat3</a>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="submitButton">Post</button>

      

    </div>
</form>
<br>
<br>



     {{!-- Our own customized script  --}}
<script src="/js/handlePost.js"></script>
